<!-- Register.ejs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <script src="https://cdn.tailwindcss.com/3.4.16"></script>
    <meta charset="UTF-8">
    <meta name="viewport" 
          content="width=device-width, initial-scale=1.0">
    <title>Login Authentication</title>
</head>

<body>
    <div class="overflow-hidden h-screen bg-slate-200 ">
        <div class="overflow-hidden h-screen ">
            <header class="absolute inset-x-0 top-0 z-50">
                <nav class="flex items-center  p-6 lg:px-8" 
                     aria-label="Global">
                    <div class="flex lg:flex-1 text-blue-800 text-xl  ">
                        <a className="border-collapse " href="/">
                            Home
                        </a>
                    </div>
                </nav>
            </header>
            <div class="container mt-8 p-8">
                <h1 class="text-2xl font-bold mb-6 ">Registration Form</h1>
                <form class="w-full max-w-sm  bg-white p-8 
                     rounded-md shadow-md" method="post" id="registerForm" action="/api/register">
                    <% if(error) { %>
                    <p class="text-red-500"><%= error %></p>
                    <% } %>
                    <div class="mb-4">
                        <label class="block text-gray-700 
                   text-sm font-bold mb-2" for="name">
                            Name
                        </label>
                        <input class="w-full px-3 py-2 border 
                                      border-gray-300 rounded-md 
                                      focus:outline-none 
                                      focus:border-indigo-500"
                                      type="text" id="name" 
                                      name="name"
                               placeholder="Jane Doe" >
                        <span id="nameError"></span>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="username">
                            UserName
                        </label>
                        <input class="w-full px-3 py-2 border 
                                      border-gray-300 rounded-md 
                                      focus:outline-none 
                                      focus:border-indigo-500"
                                      type="text" id="username" 
                                      name="username"
                               placeholder="John_01">
                        <span id="userNameError"></span>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="manager">
                            Manager
                        </label>
                        <select name="manager" id="manager">
                            <option value="false">No</option>
                            <option value="true">Yes</option>
                        </select>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 text-sm font-bold mb-2" for="email">
                            Email
                        </label>
                        <input class="w-full px-3 py-2 border 
                                      border-gray-300 rounded-md 
                                      focus:outline-none 
                                      focus:border-indigo-500"
                                      type="text" id="email" 
                                      name="email"
                               placeholder="JaneDoe@geocities.com">
                         <span id="emailError"></span> 
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 
                                      text-sm font-bold mb-2" 
                               for="password">
                            Password - Required 8 character minimum
                        </label>
                        <input class="w-full px-3 py-2 border 
                                      border-gray-300 rounded-md 
                                      focus:outline-none 
                                      focus:border-indigo-500" 
                               type="password" id="password" 
                               name="password" 
                               placeholder="********" />
                            <span id="passwordError"></span>
                    </div>
                    <div class="mb-4">
                        <label class="block text-gray-700 
                                      text-sm font-bold mb-2"
                               for="confirm-password">
                            Confirm Password
                        </label>
                        <input class="w-full px-3 py-2 border 
                                      border-gray-300 rounded-md
                                      focus:outline-none 
                                      focus:border-indigo-500" 
                               type="password" 
                               id="confirm-password"
                               name="confirmpassword" 
                               placeholder="********" />
                            <span id="confirmPasswordError"></span>
                    </div>
                    <button class="w-full 
                                   bg-indigo-500 
                                   text-white 
                                   text-sm font-bold 
                                   py-2 px-4 
                                   rounded-md hover:bg-indigo-600 
                                   transition duration-300" 
                                   type="submit" 
                                   onClick={submit}>
                        Register
                    </button>
                    
                </form>
                <script>
                    document.getElementById("registerForm").onsubmit = function(event) {
                        const nameTxt = document.getElementById("name").value;
                        const nameError = document.getElementById("nameError");
                        const userTxt = document.getElementById("username").value;
                        const userError = document.getElementById("userNameError");
                        const emailTxt = document.getElementById("email").value;
                        const emailError = document.getElementById("emailError");
                        const passwordTxt = document.getElementById("password").value;
                        const passError = document.getElementById("passwordError");
                        const confirmPasswordTxt = document.getElementById("password").value;
                        const confirmPassError = document.getElementById("confirmPasswordError");
                        let regexCheck = /[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$/.test(emailTxt);

                        if (nameTxt.length < 2 || userTxt.length < 2 || emailTxt.length < 5 || passwordTxt != confirmPasswordTxt || passwordTxt.length < 8 || confirmPasswordTxt < 8 || !regexCheck) {
                            event.preventDefault();
                        }
                        if (nameTxt.length < 2){
                            nameError.textContent = "Name must be 2 or more characters long";
                            nameError.style.color = "red";
                            
                        } else {
                            nameError.textContent = "";
                        }

                        if (userTxt.length < 2){
                           userError.textContent = "userName must be 2 or more characters long";
                           userError.style.color = "red";
                            
                        } else {
                            userError.textContent = "";
                        }

                        if (!regexCheck || emailTxt.length < 5){
                            emailError.textContent = "Invalid email";
                            emailError.style.color = "red";
                        } else {
                            emailError.textContent = "";
                        }

                        if (passwordTxt.length < 8){
                            passError.textContent = "Password must be at least 8 characters long";
                            passError.style.color = "red";
                            
                        } else {
                            passError.textContent = "";
                        }

                        if (confirmPasswordTxt.length < 8 || passwordTxt != confirmPasswordTxt){
                            let errorOut = "";
                            if(confirmPasswordTxt.length < 8){
                                errorOut += "Password must be at least 8 characters long. ";
                            }
                            if (passwordTxt != confirmPasswordTxt){
                                errorOut += "Passwords don't match."
                            }
                            confirmPassError.textContent = errorOut;
                            confirmPassError.style.color = "red";
                            
                        } else {
                            confirmPassError.textContent = "";
                        }
                    };
                </script>
            </div>
        </div>
</body>

</html>